.Filterbox-container{
    display: inline-flex;
    flex-direction: column;
}

.Filterbox{
    background: rgb(135, 135, 135);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 0.2s ease 0s;
    margin: 10px;
    cursor: pointer;
}

.Filterbox-selected{
    background: rgb(0, 0, 0)
}
.Filterbox p{
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: aliceblue;
    user-select: none;
}
.Filterbox:hover{
    background-color:rgb(234, 191, 0);
}